// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: darkslateblue;
  font-size: 50px;
}
p {
color: rgb(71, 55, 121);
font-size: 20px;
}
a:link {
color: rgb(71, 55, 121);
font-size: 20px;
}

.saisie {
  width: 500px;
  height: 100px;
  color: red;
}
